@model IEnumerable<MovieMessenger.Models.ChatSession>

@{
    ViewData["Title"] = "";
    foreach (var item in Model)
    {
        ViewData["Title"] = "Chatting with: " + item.To;

    }
    if (!ViewData["Title"].ToString().Contains("Chatting with:")) {
        ViewData["Title"] = "Chat";
    }
    ///how to store persustant data?
    ///

}

<h2>Chat</h2>
<html>

<body>


    @{
        bool inLoop = false;
        foreach (var item in Model)
        {
            inLoop = true;
            <div id="ChatSession" style="border-color:blue; width:150px;height:150px;overflow:auto;padding:5px;">
                @Html.DisplayFor(modelItem => item.Chat)
            </div>
        }
        if (!inLoop)
        {
            <div id="ChatSession" style="border-color:blue; width:150px;height:150px;overflow:auto;padding:5px;">
            </div>

        }
    }



        <input name="message" id="message" type="text" />
        <button onclick="sendMessage()" id="SendMessage" type="submit">Send</button>
        <button type="submit" asp-action="Save">Save Chat</button>

        <script type="text/javascript">


            //use javascript dictionary
            var sendMessage = function () {

                document.getElementById("ChatSession").innerHTML = document.getElementById("ChatSession").innerHTML + "<br>" + document.cookie.split("=")[1] + ": " + document.getElementById("message").value;
                document.getElementById("message").value = "";
                var element = document.getElementById("ChatSession");
                element.scrollTop = element.scrollHeight - element.clientHeight;


            };

        </script>



    </body>

</html>