@model IEnumerable<MovieMessenger.Models.ChatSession>

@{
    ViewData["Title"] = "ChatsList";
}

<h2>ChatsList</h2>
<p>
    <a asp-action="Create">New Chat</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.From)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="OpenChat"> @Html.DisplayFor(modelItem => item.From)</a>
                </td>
                
                <td>
                    
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


