@model IEnumerable<MovieMessenger.Models.ChatSession>

@{
    ViewData["Title"] = "ChatsList";
}
<head>
    <script>
        document.cookie = "username=@ViewData["user"]";
    </script>
</head>
<h2>ChatsList</h2>
<div>
    
    
    @Html.ActionLink("New Chat",
    "NewChatOptions",
     "ChatSessions",
      new {user= ViewData["user"] }, null) <!--DEfault to alex for now-->
    
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Chats
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)//is the chatters name in from or to? how to protect from duplicates
        {
            
            //var writerFrom = new System.IO.StringWriter();
            //Html.DisplayFor(modelItem => item.From).WriteTo(writerFrom, HtmlEncoder);
            var params0 = new Dictionary<string, string>
    {
        { "From",item.From},{"To", item.To}

     };
            var params1 = new Dictionary<string, string>
    {
        { "relation",item.ToString()}

     };
            <tr>
                <td>
                    @if (item.From == ViewData["user"].ToString()) 
                    {
                        <a asp-controller="ChatSessions" asp-action="OpenChat" asp-all-route-data="params0"> @Html.DisplayFor(modelItem => item.From)</a>
                    }
                   
                </td>

                <td>

                    <a asp-controller="ChatSessions" asp-action="DeleteConfirmed" asp-all-route-data="params1">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


